<div class="container">
    <div class="row">
        <div class="col-12 text-left">
                <button class="btn btn-primary" (click)="onLoadMore()">Load More Images</button>
        </div>
    </div>
    <div class="row">
        <div class="image-container col-12">
            <div class="row">
                <app-post *ngFor="let post of allPost" class="m-3"
                [imageName]="post.data.name" (FavoritesClicked)="onFavoritesClicked($event)">                
                </app-post>                      
            </div>
        </div>
    </div>
</div>
